<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>About Me!</title>
</head>

<body>
    <h1 class="title">All about me</h1>
    <ul class="header">
        <li class="item"><a href="/">home</a></li>
        <li class="item"><a href="/about">about</a></li>
        <li class="item"><a href="/experience">experience</a></li>
        <li class="item"><a href="/projects">projects</a></li>
    </ul>
    <div>
        <p>I am a student at USU. I have a certificate in web and mobile development from Bridgerland Applied Technical
            College, with an emphasis on PHP, and an Associates degree from USU in general applied technology. I am a
            father of two little boys. I like to play with my boys, swim, run, ski, and play video games. Im really
            looking forward to hacking down all the thistle plants in my cow pasture with my machete in the spring.</p>
    </div>
</body>

</html>