<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Experience</title>
    <link rel="stylesheet" href="style.css">

</head>

<h1 class="title">My Experience Coding/Working</h1>
<ul class="header">
    <li class="item"><a href="/">home</a></li>
    <li class="item"><a href="/about">about</a></li>
    <li class="item"><a href="/experience">experience</a></li>
    <li class="item"><a href="/projects">projects</a></li>
</ul>
<br>
<div>
    <h2>My Experience</h2>
    <ul>
        <li>4 years learned experience of coding</li>
        <li>One year coding learning to code websites</li>
        <li>Worked as a lifeguard for 4 years.</li>
    </ul>
</div>
</body>

</html>