<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My projects</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <h1 class="title">My Projects</h1>
    <ul class="header">
        <li class="item"><a href="/">home</a></li>
        <li class="item"><a href="/about">about</a></li>
        <li class="item"><a href="/experience">experience</a></li>
        <li class="item"><a href="/projects">projects</a></li>
    </ul>
    <br>
    <div>
        <h2>WhattaBite</h2>
        <p>A Laravel web application for putting n recipies or places that you like to eat. You could then generate a
            meal plan for the week or get a random meal for the day. Each meal plan came with a link that returned the
            recipies.</p>
    </div>
    <div>
        <h2>Dam run</h2>
        <p>A laravel web application for the Newton Dam Run. Every 24 of july my wife and I hold the Newton Dam Run.
            This web application was designed to integrate with the Newton website so that people could look up past
            years and their times if they ran the race.</p>
    </div>

</body>

</html>